<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-boxes-heading">Create or edit a Boxes</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_positionX">Position X</label>
                    <input type="number" class="form-control" name="positionX" id="field_positionX"
                           formControlName="positionX"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_positionY">Position Y</label>
                    <input type="number" class="form-control" name="positionY" id="field_positionY"
                           formControlName="positionY"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_positionZ">Position Z</label>
                    <input type="number" class="form-control" name="positionZ" id="field_positionZ"
                           formControlName="positionZ"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_save">Save</label>
                    <select class="form-control" id="field_save" name="save" formControlName="save">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="saveOption.id === editForm.get('save')!.value?.id ? editForm.get('save')!.value : saveOption" *ngFor="let saveOption of saves; trackBy: trackById">{{ saveOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_map">Map</label>
                    <select class="form-control" id="field_map" name="map" formControlName="map">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mapOption.id === editForm.get('map')!.value?.id ? editForm.get('map')!.value : mapOption" *ngFor="let mapOption of maps; trackBy: trackById">{{ mapOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
