<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="walls">
            <h2><span>Walls</span> {{ walls.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Position X</span></dt>
                <dd>
                    <span>{{ walls.positionX }}</span>
                </dd>
                <dt><span>Position Y</span></dt>
                <dd>
                    <span>{{ walls.positionY }}</span>
                </dd>
                <dt><span>Position Z</span></dt>
                <dd>
                    <span>{{ walls.positionZ }}</span>
                </dd>
                <dt><span>Map</span></dt>
                <dd>
                    <div *ngIf="walls.map">
                        <a [routerLink]="['/map', walls.map?.id, 'view']">{{ walls.map?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/walls', walls.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
